App {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

h1 {
  display: flex;
  text-align: center;
  color: #E15554;
  margin: 20px;
}

button {
  display: flex;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  padding: 4px;
  background-color: #FFA552;
  border-radius: 8px;
  border: 1px solid #FE5F55;
  cursor: pointer;
  margin: 4px;
  text-align: left;

}

button:hover {
  background-color: white;
  hover: pointer;
}


label {
  font-size: 8px;
  line-height: 0px;
}
input {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 4px;
    width: 180px;
    max-width: 100%;
    padding: 5px;
    border-radius: 8px;
}


#title {
  color: #E15554;
}

#addy {
  font-variant: small-caps;
  color: #FFA552;
  font-weight: bold;
}

#categ {
  font-weight: bold;
  font-size: 12px;
}

/* --- */


#nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 100;
  box-shadow: 0px 5px 10px grey;
  background: #f2f2f2;
  overflow-y: scroll;
  top: 0;
  background-color: #E15554;
}


#map {
  display: flex;
  width: 100%;
  height: calc(100vh - 60px);
}

@media (min-width: 768px) {
  #nav {flex-direction: row; flex-wrap: wrap;}
  #btncontainer {display: flex; flex-direction: row; justify-content: space-evenly;}
}
